.menu {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    background: transparent;
    margin: 0;
    padding: 18px 0;

    list-style: none;
}

.menu__menu-item {
    max-height: 50px;
}

.menu__menu-item--logo {
    width: 144px;
    margin-left: auto;
    margin-right: 0;
}


.menu__menu-item--logo img {
    height: 100%;
}

.menu__menu-item a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 22px;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-light-gray);
}

.menu__menu-item a:hover {
    color: var(--color-red);
}

.menu__menu-item--active a {
    color: var(--color-white);
}
