.model-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.model-card {
    background-color: var(--color-white);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 3px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.model-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.model-card__cover {
    height: 240px;
}

.model-card__cover img {
    width: 100%;
}

.model-card__container {
    /*border-top: 3px solid var(--color-red);*/
    margin-top: 18px;
    padding: 0 18px 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.model-card-title {
    color: var(--color-gray);
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    transition: all 0.3s;
}

.model-card-title:hover {
    color: var(--color-red);
}

.model-card-likes__count {
    color: var(--color-light-gray);
    font-size: 0.8em;
    transition: all 0.3s;
}

.model-card-likes__count:hover {
    cursor: pointer;
    color: var(--color-red);
}
