/*
    Navy Blue - #1F3541
    Blue Grotto - #5289B5
    Baby Blue - #AFD8F2
    White - #EDF2F3
*/

:root {
    --color-red: #FF6A66;
    --color-dark-gray: #546271;
    --color-gray: #7A8897;
    --color-light-gray: #D3DBE4;
    --color-white: #FFFFFF;
}

body {
    background-color: var(--color-dark-gray);
}

nav {
    width: 960px;
    margin: auto;
}

main {
    max-width: 960px;
    margin: 36px auto;
    padding: 30px;
    font-size: 1.5em;
    background-color: var(--color-white);
    color: var(--color-gray);
    border-radius: 3px;
}
